body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #220033;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-container {
    background-color: #331144;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #442255;
    cursor: pointer;
}

.active {
    background-color: #0503024b;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item .delete-button {
    background-color: #ff3366;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.neon-text {
    font-size: 20px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}

.todo-form {
    margin-bottom: 20px;
}

.todo-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.todo-form button[type="submit"] {
    background-color: #00ff99;
    color: #220033;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.todo-form button[type="submit"]:hover {
    background-color: #00e68a;
}

.button-clear {
    background-color: #ff3366;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#addButton {
    background-color: #08a7dc;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#taskInput {
    padding: 5px 10px;
    border-radius: 5px;
}

#checkBoxStatus {
    border-radius: 100%
}